/* Desktop */

html {
    box-sizing: border-box;
    font-family: 'serif', sans-serif;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* - Formatação texto - */
/* Título */
.titulo {
    display: flex;
    width: 105px;
    height: 53px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    line-height: normal;
}
/* Subtítulo */
.subtitulo {
    color: #000;
    font-family: arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* Parágrafo */
.paragrafo {
    width: 75px;
    flex-shrink: 0;
    color: #000;
    font-family: arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

/* - Cabeçalho - */
/* Header */

/*Layout & Style*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #6eb8f5;
    padding: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Name */
/*Layout*/
.titulo {
    display: flex;
    width: 105px;
    height: 53px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 105px;
    height: 53px;
    flex-shrink: 0;
}

/*Typography*/
h1 {
    color: #000;
    font-family: arial;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Nav-links */
/*Layout*/
.nav-links {
    display: flex;
    justify-content: space-evenly;
    padding: 8px 16px;
    width: 250px;

    /*Style*/
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Style links*/
.nav-links a {
    display: flex;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
    box-shadow: inset 0 0 0 0 #035da7;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

.nav-links a:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #15566e;
    ;
}

/* - Section About - */
/* Foto */
.sobre-mim img {
    height: 247px;
    width: 247px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 16px;
}

/* Sobre Mim */
.sobre-mim {
    margin-top: -144px;
    display: flex;
    width: 1440px;
    background-color: aliceblue;
    height: 318px;
    padding: 32px;
    justify-content: center;
    align-items: center;
    gap: 125px;
    flex-shrink: 0;

}
/*Texto*/
.sobre-mim-text {
    text-align: justify;
    width: 614px;
    height: 186px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 16px 32px;
    gap: 16px;
    min-width: 400px;
}

/* - Section List - */
/* Hobbies */

/* Top List */


/* - Footer - */
/* Redes Sociais */

/* Contato */